
$color1:#6495ED; //color for a:link
$color2:black;//color for .post-content
$color3:#DEB887;// color for .post-content h2 a:active
$color4:#999;// color for post-date
$color5:white;//color for background