@import "header";
@import "fonts";
@import "main";
@import "colors";

@mixin body{
    margin:0;
    padding: 0;
    font-family: $font-family;
}


body{
    @include body;
}
h1{
    font-family:$font2 ;
    font-size: $size1;
}
hr{
    margin-left: 5%;
    margin-right: 5%;
}
li{
    list-style: none;
    margin:10px;
}
a:link{
    color:$color1;
    text-decoration: none;
&a:visited{
    color:$color1;
    text-decoration: none;
&a:hover{
    text-decoration: underline;

}
}
}
.post-content h2 a:link{
    color:$color2;
&.post-content h2 a:visited{
    color:$color2;
&.post-content h2 a:active{
    color:$color3;
&.post-content h2 a:hover{
    color:$color1;
}
}
}
}

.post-date{
    margin:10px;
    color: $color4;
}
article{
    margin:10px;
    margin-top:20px;
    background: $color5;
    padding: 15px;
    box-shadow: rgb(168, 162, 162) 3px 3px 3px;
} 
img{
    text-align:center;
    width: 90%;
    margin-top:30px;
    object-fit: cover;
}
//media for small
@media screen and (min-width: 700px){
    body div{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: 0 20px;
        grid-template-areas:'header main main main'
                            'header main main main'
                            'header main main main'   
                            'header main main main';   
    }
    header ul li {
        font-size: 15px;
    }
}