/* xBranding section - basic style */
.cd-branding .cd-box {
    margin-bottom: 1em;
}
.cd-branding img {
    display: block;
    width: 100%;
}
.cd-branding ul:last-of-type {
    padding-top: .6em;
}
.cd-branding ul:last-of-type li {
    display: inline-block;
    margin-right: 1em;
}
.cd-branding ul:last-of-type li:nth-of-type(1) img {
    width: 90px;
    height: 90px;
    border-radius: 1em;
}
.cd-branding ul:last-of-type li:nth-of-type(2) img {
    width: 60px;
    height: 60px;
    border-radius: .6em;
}
.cd-branding ul:last-of-type li:nth-of-type(3) img {
    width: 32px;
    height: 32px;
    border-radius: .4em;
}
.cd-branding ul:last-of-type li:nth-of-type(4) img {
    width: 16px;
    height: 16px;
    border-radius: .2em;
}