@media only screen and (min-width: 1024px) {
    .cd-logo {
        width: 180px;
    }
    .cd-main-nav li a {
        color: #7d7d82;
    }
    .cd-main-nav li a.selected {
        color: #ffffff;
        box-shadow: 0 2px 0 #5f8ee4;
    }
    .no-touch .cd-main-nav li a:hover {
        color: #ffffff;
    }
    /*size*/
    h1 {
        font-size: 4rem;
    }
    /*header*/
    header {
        height: 80px;
    }
    header:after {
        content: "";
        display: table;
        clear: both;
    }
    /*nav*/
    .cd-nav-trigger {
        display: none;
    }
    .cd-main-nav {
        position: static;
        display: table;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        width: auto;
        height: 80px;
        background: transparent;
        padding: 0 2em;
        text-align: left;
    }
    .cd-main-nav li {
        display: table-cell;
        vertical-align: middle;
        padding: 0 1em;
    }
    .cd-main-nav li a {
        display: inline-block;
        font-size: 1.6rem;
        padding: .4em .2em;
        border-bottom: none;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
    }
    .cd-main-nav li:first-of-type a {
        border-top: none;
    }
    .cd-download {
        display: block;
    }
    .cd-download span {
        opacity: 0;
        visibility: hidden;
    }
/*main*/
main {
    padding-top: 80px;
    }
    .cd-buttons button {
        margin: 1em;
    }






    }