@import "nav";
@import "main1";
@import "branding";
@import "typogrphy";
@import "buttons";
@import "section";
@import "colors";
@import "media768";
@import "media1024";
@import "media1600";


body {
    /* this is the page background */
    background-color: #ffffff;
}
header {
    background-color: #19191a;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

  html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans pro", serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

input, textarea, select {
    font-family: "Open Sans pro", serif;
    font-size: 1.6rem;
}

header {
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    z-index: 10;
}
header nav {
    display: inline-block;
}
.cd-typography .cd-box,
.cd-buttons .cd-box,
.cd-icons .cd-box,
.cd-form .cd-box {
    padding: 1em;
}
/* xForm section - basic style */
.cd-form input[type=text],
.cd-form .cd-input-wrapper {
    margin: 1em;
}
.cd-form .cd-input-wrapper {
    position: relative;
    display: inline-block;
}
.cd-form select::-ms-expand {
    display: none;
}
@-moz-document url-prefix() {
    /* hide custom arrow on Firefox */
    .cd-select::after {
    display: none;
    }
}
.no-csstransitions .cd-select::after {
    display: none;
}
.per1 , .per2, .per3{
    margin: 10px;
    color:#19191a;
}
.wireframeTitle{
    margin: 10px;

}
/* -------------------------------- 

xForm 

-------------------------------- */
input[type=text], select {
    border: 1px solid #e6e6e6;
    border-radius: .25em;
    background: #ffffff;
  }
  input[type=text]:focus, select:focus {
    outline: none;
  }
  
  input[type=text] {
    padding: .6em 1em;
    box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
  }
  input[type=text].success {
    border-color: #6fce72;
    box-shadow: 0 0 6px rgba(111, 206, 114, 0.2);
  }
  input[type=text].alert {
    border-color: #e4655f;
    box-shadow: 0 0 6px rgba(228, 101, 95, 0.2);
  }
  input[type=text]:focus {
    border-color: #5f8ee4;
    box-shadow: 0 0 6px rgba(95, 142, 228, 0.2);
  }
  
  input[type=radio],
  input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
  }
  
  .radio-label,
  .checkbox-label {
    padding-left: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .radio-label::before, .radio-label::after,
  .checkbox-label::before,
  .checkbox-label::after {
    /* custom radio and check boxes */
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .radio-label::before,
  .checkbox-label::before {
    left: 0;
    border: 1px solid #e6e6e6;
    box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
  }
  .radio-label::after,
  .checkbox-label::after {
    left: 3px;
    background: url("../assets/form/icon-check.svg") no-repeat center center;
    display: none;
  }
  
  .radio-label::before {
    border-radius: 50%;
  }
  
  .checkbox-label::before {
    border-radius: 3px;
  }
  
  input[type=radio]:checked + label::before,
  input[type=checkbox]:checked + label::before {
    background-color: #19191a;
    border: none;
    box-shadow: none;
  }
  
  input[type=radio]:checked + label::after,
  input[type=checkbox]:checked + label::after {
    display: block;
  }
  
  .cd-select::after {
    /* switcher arrow for select element */
    content: '';
    position: absolute;
    z-index: 1;
    right: 14px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 16px;
    height: 16px;
    background: url("../assets/form/icon-select.svg") no-repeat center center;
    pointer-events: none;
  }
  
  select {
    position: relative;
    padding: .6em 2em .6em 1em;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }